<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>biozon</title>
	<link rel="Shortcut Icon" href="/static/img/biozon.png">
	<meta name="description" content="2020 Verteilte Systeme Projekt "/>
	<link rel="stylesheet" href="css/main.css"/>
	<style>
		body {
			text-align: center;
			background-color: white;
		}
		table {
			margin: auto;
		}
	</style>
</head>


<!-- Header here -->

<div style="position:fixed; top:0; left:0; width:100%; background-color:#faf9f6; z-index: 10;">
	<table width="100%" height="150" bgcolor="#faf9f6" cellpadding="0" align="center" border="0" style="font-family: Avenir Next; font-size: 16px;border: none; border-bottom: double 8px #204987;">
		<tbody>
			<tr>
				<td align="center" colspan="4"> <img src="/static/img/biozon.png" alt="biozon" width="100" height="100"> </td>

			</tr>
			<tr>
				<td align="center" width="8%"><a href="#" class="link" title="Anmelden">Anmelden</a></td>
				<td align="center" width="8%"><a href="#" class="link" title="Regeistieren">Regeistieren</a></td>
				<td align="center" width="68%"></td>
				<td align="center" width="16%">
				<td align="center" width="8%"><a href="/Wagen_Seite" class="link" title="Warenkorb">Warenkorb</a></td>
				<div style="display:inline"><a>{{waren_gesamt_Menge_in_Einkaufswagen}}</a></div>

				</td>
			</tr>
		</tbody>

	</table>
</div>






<body>
	<!-- left window -->
	<div style="position:absolute; top:240px; left:0; width:180px; background-color:#CCCCCC; border-left: 24px solid #204987; z-index: 0; font-family: Avenir Next; font-size: 36px; padding-left: 1.8em; text-align: left;">
		<div height="80px">Kategorie</div>
		<div height="80px"><a href="/Waren_katg/?katg=2" class="link" title="Gemüse">Gemüse</a></div>
		<div height="80px"><a href="/Waren_katg/?katg=3" class="link" title="Obst">Obst</a></div>
		<div height="80px"><a href="/Waren_katg/?katg=1" class="link" title="Obst">Fleisch</a></div>
		<div height="80px"><a href="/Waren_katg/?katg=4" class="link" title="Obst">Getränk</a></div>
	</div>
	
	<!-- Content here -->
	<div style="margin-left:200px;">
		<table width="900" border="0" cellpadding="0" align="center" >
			<tbody>
				<tr height="160"></tr>
				<!-- Gemüse -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="/Waren_katg/?katg=2" class="link" title="Gemüse">Gemüse</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="/Waren_Seite/?id={{Aubergine.id}}" class="link"><img src="/static/img/Gemüse/Aubergine.jpg" alt="Aubergine" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Broccoli.jpg" alt="Broccoli" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/ChinaKohl.jpg" alt="ChinaKohl" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Fleischtomaten.jpg" alt="Fleischtomaten" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="/Waren_Seite/?id=Aubergine.id" class="link">Aubergine</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Broccoli</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">ChinaKohl</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Fleischtomaten</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Obst -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="/Waren_katg/?katg=3" class="link" title="Obst">Obst</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Ananas.jpg" alt="Ananas" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/ApfelKanzi.jpg" alt="ApfelKanzi" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/ChiquitaBanana.jpg" alt="ChiquitaBanana" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Drachenfrucht.jpg" alt="Drachenfrucht" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">Ananas</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Apfel</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Chiquita Banana</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Drachenfrucht</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Fleisch -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="/Waren_katg/?katg=1" class="link" title="Fleisch">Fleisch</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lobster.jpg" alt="Lobster" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lammkoteletts.jpg" alt="Lammkoteletts" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/RäucherLachs.jpg" alt="RäucherLachs" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Rinder-Hüftsteak.jpg" alt="Rinder-Hüftsteak" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">Lobster</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Lammkoteletts</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">RäucherLachs</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Rinder-Hüftsteak</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Getränk -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="/Waren_katg/?katg=4" class="link" title="Getränk">Getränk</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/CocaCola1.jpg" alt="CocaCola" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/AbsolutVodka.jpg" alt="AbsolutVodka" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/HohesCOrange1L.jpg" alt="HohesCOrange1L" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/MeßmerKlassik.jpg" alt="MeßmerKlassik" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">CocaCola</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Absolut Vodka</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Hohes C Orange 1L</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Meßmer Klassik</a></td>
				</tr>
				<tr height="20px"></tr>
			</tbody>
		
		</table>
	</div>





</body>
</html>