<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>biozon</title>
	<link rel="Shortcut Icon" href="/static/img/biozon.png">
	<meta name="description" content="2020 Verteilte Systeme Projekt "/>
	<link rel="stylesheet" href="css/main.css"/>
	<style>
		body {
			text-align: center;
			background-color: white;
		}
		table {
			margin: auto;
		}
	</style>
</head>


<!-- Header here -->

<div style="position:fixed; top:0; left:0; width:100%; background-color:#faf9f6; z-index: 10;">
	<table width="100%" height="150" bgcolor="#faf9f6" cellpadding="0" align="center" border="0" style="font-family: Avenir Next; font-size: 16px;border: none; border-bottom: double 8px #204987;">
		<tbody>
			<tr>
				<td align="center" colspan="4"> <img src="/static/img/biozon.png" alt="biozon" width="100" height="100"> </td>

			</tr>
			<tr>
				<td align="center" width="8%"><a href="#" class="link" title="Anmelden">Anmelden</a></td>
				<td align="center" width="8%"><a href="#" class="link" title="Regeistieren">Regeistieren</a></td>
				<td align="center" width="68%"></td>
				<td align="center" width="16%">
				<td align="center" width="8%"><a href="/Wagen_Seite" class="link" title="Warenkorb">Warenkorb</a></td>
				<div style="display:inline"><a>{{waren_gesamt_Menge_in_Einkaufswagen}}</a></div>

				</td>
			</tr>
		</tbody>

	</table>
</div>






<body>
	<!-- left window -->
	<div style="position:absolute; top:240px; left:0; width:180px; background-color:#CCCCCC; border-left: 24px solid #204987; z-index: 0; font-family: Avenir Next; font-size: 36px; padding-left: 1.8em; text-align: left;">
		<div height="80px">Kategorie</div>
		<div height="80px"><a href="#" class="link" title="Gemüse">Gemüse</a></div>
		<div height="80px"><a href="#" class="link" title="Obst">Obst</a></div>
		<div height="80px"><a href="#" class="link" title="Obst">Fleisch</a></div>
		<div height="80px"><a href="#" class="link" title="Obst">Getränk</a></div>
	</div>
	
	<!-- Content here -->
	<div style="margin-left:200px;">
		<table width="900" border="0" cellpadding="0" align="center" >
			<tbody>
				<tr height="160"></tr>
				<!-- Gemüse -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="#" class="link" title="Gemüse">Gemüse</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Aubergine.jpg" alt="Aubergine" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Aubergine.jpg" alt="Aubergine" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Aubergine.jpg" alt="Aubergine" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Gemüse/Aubergine.jpg" alt="Aubergine" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">Aubergine1</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Aubergine2</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Aubergine3</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Aubergine4</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Obst -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="#" class="link" title="Obst">Obst</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Ananas.jpg" alt="Ananas" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Ananas.jpg" alt="Ananas" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Ananas.jpg" alt="Ananas" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Obst/Ananas.jpg" alt="Ananas" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">Ananas1</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Ananas2</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Ananas3</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Ananas4</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Fleisch -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="#" class="link" title="Fleisch">Fleisch</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lobster.jpg" alt="Lobster" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lobster.jpg" alt="Lobster" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lobster.jpg" alt="Lobster" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Fleisch/Lobster.jpg" alt="Lobster" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">Lobster1</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Lobster2</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Lobster3</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">Lobster4</a></td>
				</tr>
				<tr height="20px"></tr>
				<!-- Getränk -->
				<tr>
					<td align="left" colspan="4" width="840" bgcolor="#C8C8C8" style="margin-left: 10px; font-family: Avenir Next; font-size: 24px; padding-left: 3.0em;">
						<a href="#" class="link" title="Getränk">Getränk</a>
					</td>
				</tr>
				<tr>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/CocaCola1.jpg" alt="CocaCola" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/CocaCola1.jpg" alt="CocaCola" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/CocaCola1.jpg" alt="CocaCola" width="200" height="200"></a></td>
					<td align="center" width="210"><a href="#" class="link"><img src="/static/img/Getrank/CocaCola1.jpg" alt="CocaCola" width="200" height="200"></a></td>
				</tr>
				<tr style="font-family: MS sans-serif; font-size: 16px;">
					<td align="center" width="210" height="35"><a href="#" class="link">CocaCola1</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">CocaCola2</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">CocaCola3</a></td>
					<td align="center" width="210" height="35"><a href="#" class="link">CocaCola4</a></td>
				</tr>
				<tr height="20px"></tr>
			</tbody>
		
		</table>
	</div>





</body>
</html>