<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einkaufswagen Seite</title>
</head>

<body>

{# nach Homepage springen#}
    <td align="center" width="8%"><a href="/index" class="link" title="homepage">Homepage</a></td>


    <h1>Mein Warenkorb</h1>


`   <div> alle Waren in Warenkorb:<em>{{waren_gesamt_Menge_in_Einkaufswagen}}</em></div>

    <ul class="Ware Tabelle">
        <li class="col01"> Ware Name </li>
        <li class="col02"> Ware Bild </li>
        <li class="col03"> Ware Preis </li>
        <li class="col04"> Ware Menge </li>
        <li class="col05"> Ware totale Preis </li>
        <li class="col06"> delete </li>
    </ul>

    {% for ware in waren_in_Einkaufswagen_list %}
        <ul class="Ware Tabelle">
            <li class="col01">{{ware.Ware_Name}}</li>
            <li class="col02"><img src="{{ware.Ware_Bild}}".jpg></li>
            <li class="col03">{{ware.Ware_Preis}}</li>
            <li class="col04">{{ware.waren_menge}}</li>
            <li class="col05">{{ware.ware_gesamt_preis}}</li>
            <li class="col06"><a href="/Waren_delete/?id={{ware.id}}">delete</a></li>
        </ul>
    {% endfor %}

    <ul class="zusammenfassen">
        <li> total Preis in Einkaufswagen: <em>{{waren_gesamt_Preis_in_Einkaufswagen}} euro</em></li>
        <li> gesamt Waren Menge in Einkaufswagen: <em>{{waren_gesamt_Menge_in_Einkaufswagen}}</em></li>
    </ul>

{# nach Bestellung Seite springen#}
    <td align="center" width="8%"><a href="/Bestellung_abgeben_Seite" class="link" title="Kasse">zur Kasse gehen</a></td>
</body>
</html>